/* CODE STUFF */

.token {
	font-family: JetBrains Mono !important;
}

/* Keywords (like function, class, return) */
.token.keyword {
	color: #ff6975 !important; /* Purple */
	font-weight: 500;
}

/* Strings ("Hello World") */
.token.string {
	color: #ffd08a !important; /* Green */
}

/* Numbers (123, 3.14) */
.token.number {
	color: #6fffc3 !important; /* Orange */
}

/* Comments */
.token.danger_comment {
	color: #8a5d5d !important; /* Gray */
	font-style: italic;
}

.token.comment {
	color: #5c6370 !important; /* Gray */
	font-style: italic;
}

/* Functions */
.token.function {
	color: #61afef !important; /* Blue */
	font-weight: 500;
}

.token.brace {
	color: #9eadce !important;
}

.token.new {
	font-weight: 500;
	color: rgb(80, 255, 168) !important;
}

.token.builtin {
	color: rgb(68, 236, 180) !important;
}

.token.property {
	color: rgb(255, 216, 179) !important;
}

/* Operators (=, +, -, etc.) */
.token.operator {
	color: #70f5ff91 !important; /* Cyan */
}

.token.type {
	color: rgb(255, 106, 181);
}

.token.table_key {
	color: red !important;
}

#Main strong {
	color: rgb(233, 233, 233);
}

.comment {
	color: var(--comment);
}