body {
	overflow: hidden;
}

#Sidebar {
	width: calc(15vw + 100px);
	height: 89vh;
	background: var(--secondary_bg);
	border-right: 1px solid var(--line);
	padding: 20px;
	justify-items: right;
	overflow: auto;
}

@-moz-document url-prefix() {
	#Sidebar {
		scrollbar-width: 10px;
		scrollbar-color: var(--brighter_line) var(--line);
	}
}

/* width */
#Sidebar::-webkit-scrollbar {
	width: 5px;
	opacity: 0;
}

/* Track */
#Sidebar::-webkit-scrollbar-track {
	background: var(--line);
	opacity: 0;
}

/* Handle */
#Sidebar::-webkit-scrollbar-thumb {
	background: var(--brighter_line);
}

/* Handle on hover */
#Sidebar::-webkit-scrollbar-thumb:hover {
	background: var(--button_primary_single);
	opacity: 0;
}

#Sidebar .Fold {
	width: 230px;
	float: right;
	padding: 10px;
	padding-left: 15px;
	margin-bottom: -5px;
	translate: 10px;
}

#Sidebar strong {
	font-size: 15px;
	padding: 7px;
	padding-bottom: 0;
	border-radius: 5px;
	color: white;
	display: block;
	width: 100%;
	font-weight: 500;

	transition: 0.2s;
}

.Fold li {
	list-style: none;
	margin-top: 5px;
	margin-left: 15px;

	/* padding-left: 5px; */
	border-left: 2px solid var(--line);
}

.FoldItem {
	font-size: 14.5px;
	color: white;
	opacity: 0.5;
	display: inline-block;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	text-indent: 10px;
	cursor: pointer;
	translate: 0 2px;
	-webkit-background-clip: text;
	background-clip: text;

	transition: 0.1s;
}

.FoldItem:hover {
	opacity: 0.9;
}

.FoldItem[active] {
	opacity: 1;
	filter: brightness(1.2);
	font-weight: 600;
	border-left: 2px solid var(--button_primary_single);
	background: var(--button_primary_single);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	translate: -2px 2px;
}

.material-symbols-outlined {
	user-select: none;
	translate: -5px -2px;
	line-height: 1px;
	vertical-align: middle;
	scale: 0.9;
	margin-left: -5px;
	margin-right: -5px;
}

.FoldItem[active] .material-symbols-outlined {
	-webkit-text-fill-color: var(--button_primary_single);
}

#Main {
	padding: 20px;
	color: var(--doc_text);
	position: absolute;
	width: 100vw !important;
	height: calc(93vh - 40px);
	left: calc(15vw + 140px);
	top: 60px;
	display: block;
	max-width: 50vw;
	overflow-y: scroll;
}

@media (max-width: 1500px) {
	#Main {
		width: 100% !important;
		max-width: calc(100vw - 24vw - 120px);
	}
}

#Main * {
	margin-bottom: 10px; /* Adds spacing between elements */
	padding-top: 2pxx; /* Adds internal spacing */
	padding-bottom: 2px; /* Adds internal spacing */
}

#Main h1 {
	color: white;
}

#Main h2 {
	color: rgba(255, 255, 255, 0.966);
}

#Main h3 {
	color: rgba(255, 255, 255, 0.829);
}

#Main a {
	color: var(--link_color);
	transition: 0.2s;
}

#Main a[href]:hover {
	filter: brightness(1.5);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--line);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--brighter_line);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--button_primary_single);
}

blockquote {
	margin: 10px 0; /* Space between blockquotes */
	padding: 10px 15px; /* Inner spacing */
	border-left: 4px solid var(--brighter_line); /* Left border for a classic blockquote look */
	background: var(--primary_bg); /* Light gray background */
}

code {
	color: rgb(218, 222, 230);
	padding-right: 5px !important;
	padding-left: 5px !important;
}

pre {
	border: 1px solid var(--code_block_border);
	border-top: 10px solid var(--code_block_border);
	background: var(
		--code_block
	) !important; /* Dark background (VS Code style) */
	padding: 12px !important;
	padding-left: 20px !important;
	border-radius: 5px; /* Rounded corners */
	overflow: visible;
	font-family: JetBrains Mono !important;
}

code {
	background: var(--code_span);
	outline: 1px solid rgba(126, 139, 255, 0.322);
	padding: 1px;
	font-size: 14px !important;
	font-family: JetBrains Mono !important;
}

pre code {
	outline: 0;
	background: none;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.token{
	font-family: JetBrains Mono !important;
}

/* Keywords (like function, class, return) */
.token.keyword {
	color: #ff6975 !important; /* Purple */
	font-weight: 500;
}

/* Strings ("Hello World") */
.token.string {
	color: #ffd08a !important; /* Green */
}

/* Numbers (123, 3.14) */
.token.number {
	color: #6fffc3 !important; /* Orange */
}

/* Comments */
.token.comment {
	color: #5c6370 !important; /* Gray */
	font-style: italic;
}

/* Functions */
.token.function {
	color: #61afef !important; /* Blue */
	font-weight: 500;
}

.token.brace {
	color: #9eadce !important;
}

.token.new {
	font-weight: 500;
	color: rgb(80, 255, 168) !important
}

.token.builtin {
	color: rgb(68, 236, 180) !important;
}

.token.property {
	color: rgb(255, 182, 148) !important;
}

/* Operators (=, +, -, etc.) */
.token.operator {
	color: #70f5ff91 !important; /* Cyan */
}

.token.type{
	color: rgb(245, 60, 153);
}

.token.table_key {
	color: red !important;
}

.comment {
	color: var(--comment);
}

.NextPage {
	display: block;
	width: 30%;
	min-width: fit-content;
	height: 45px;
	justify-content: center;
	margin-top: 20px;
	offset-anchor: 100%;
	float: right;
	border: 1px solid var(--brighter_line);
	cursor: pointer;
	padding-top: 10px;
	padding-right: 22px;
	padding-left: 22px;
	text-decoration: none;
	color: var(--doc_text) !important;
	font-weight: 500;
	border-radius: 7px;
	font-size: 13px;
	text-align: right !important;
	user-select: none;

	transition: 0.1s;
}

.NextPage:hover {
	filter: hue-rotate(0deg) brightness(0.9);
	border: 1px solid var(--button_primary_single);
}

.NextPage:active {
	filter: hue-rotate(5deg) brightness(1.1);
	transition: 0s;
}

.NextPage strong {
	display: block;
	color: var(--button_primary_single) !important;
	font-size: 17px !important;
}

#Main .Default {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	justify-self: center;
	text-align: center;
	color: var(--primary_text);
}

#Main .Default * {
	display: block;
	justify-self: center;
	filter: hue-rotate(60deg) grayscale(0.5) opacity(0.4);
}

#Main .Default {
	width: 80%;
}

#Main .Default img {
	position: absolute;
	left: 50%;
	top: -300%;
	translate: -50% -50%;
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
	background: var(--line);
	border: 0;
}