body {
	overflow: hidden;
}

#content_container {
	display: flex;
}

@keyframes MainReveal {
	0% {
		opacity: 0;
		scale: 0.95;
	}

	100% {
		opacity: 1;
	}
}

.reveal-animation {
	animation: MainReveal .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.index_bg {
	z-index: -1;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: auto;
	border-radius: 0 !important;
	min-height: 100vh;
	scale: 1.05;
	opacity: .2;
	filter: brightness(.6)
}

#Main {
	opacity: 0;
	padding: 20px;
	color: var(--doc_text);
	width: 100%;
	height: calc(93vh - 40px);
	top: 60px;
	display: block;
	overflow-y: scroll;
	max-width: calc(50vw);
}

@media (max-width: 1200px) {
	#Main {
		max-width: none;
	}
}

#Main * {
	margin-bottom: 22px;
	padding-top: 2pxx;
	padding-bottom: 2px;
}

#Main h1 {
	color: white;
	font-weight: 500;
	font-size: 40px;
}

#Main h2 {
	padding-top: 2px;
	color: rgba(255, 255, 255, 0.966);
	font-weight: 300;
	font-size: 30px;
}

#Main h3 {
	color: rgba(255, 255, 255, 0.829);
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 0px !important;
}

#Main li h3 {
	margin-bottom: -12px !important;
}

#Main li {
	margin-bottom: 12px !important;
}

#Main a {
	color: var(--link_color);
	transition: 0.2s;
}

#Main a[href]:hover {
	filter: brightness(1.5);
}

#Main img {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.404);
	border-radius: 13px;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--line);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--brighter_line);
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--button_primary_single);
}

newline {
	display: block;
}

blockquote {
	margin: 10px 0;
	padding: 10px 15px;
	padding-bottom: 0px !important;
	border-left: 4px solid var(--brighter_line);
	background: var(--primary_bg);
}

blockquote :last-child:not(code) {
	padding-bottom: 12px !important;
}

/* BLOCK QUOTE TYPES */
blockquote:has(warning) {
	background: rgba(255, 136, 0, 0.12);
	border-left: 4px solid rgb(255, 206, 100);
}

blockquote:has(danger) {
	background: rgba(255, 0, 0, 0.12);
	border-left: 4px solid rgb(255, 101, 101);
}

blockquote:has(note) {
	background: rgba(0, 110, 255, 0.066);
	border-left: 4px solid rgb(88, 127, 255);
}

blockquote:has(tip) {
	background: rgba(0, 255, 85, 0.12);
	border-left: 4px solid rgb(88, 255, 110);
}

/* BLOCK QUOTE LABELS */
blockquote:has(warning)::before {
	content: "⚠️ Warning";
	padding: 5px;
	margin-bottom: 5px;
	color: white;
	font-weight: 700;
	background: rgba(0, 0, 0, 0.3);
	display: block;
}

blockquote:has(danger)::before {
	content: "❗ Danger";
	padding: 5px;
	margin-bottom: 5px;
	color: white;
	font-weight: 700;
	background: rgba(0, 0, 0, 0.3);
	display: block;
}

blockquote:has(note)::before {
	content: "ℹ️ Note";
	padding: 5px;
	margin-bottom: 5px;
	color: white;
	font-weight: 700;
	background: rgba(0, 0, 0, 0.3);
	display: block;
}

blockquote:has(tip)::before {
	content: "🍏 Tip";
	padding: 5px;
	margin-bottom: 5px;
	color: white;
	font-weight: 700;
	background: rgba(0, 0, 0, 0.3);
	display: block;
}

blockquote img {
	margin-bottom: -5px !important;
}

.NextPage {
	display: block;
	width: 30%;
	min-width: fit-content;
	height: 45px;
	justify-content: center;
	margin-top: 20px;
	offset-anchor: 100%;
	float: right;
	border: 1px solid var(--brighter_line);
	cursor: pointer;
	padding-top: 10px;
	padding-right: 22px;
	padding-left: 22px;
	text-decoration: none;
	color: var(--doc_text) !important;
	font-weight: 500;
	border-radius: 7px;
	font-size: 13px;
	text-align: right !important;
	user-select: none;

	transition: 0.1s;
}

.NextPage:hover {
	filter: hue-rotate(0deg) brightness(0.9);
	border: 1px solid var(--button_primary_single);
}

.NextPage:active {
	filter: hue-rotate(5deg) brightness(1.1);
	transition: 0s;
}

.NextPage strong {
	display: block;
	color: var(--button_primary_single) !important;
	font-size: 17px !important;
}

#Main .Default {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	justify-self: center;
	text-align: center;
	color: var(--primary_text);
}

#Main .Default * {
	display: block;
	justify-self: center;
	filter: hue-rotate(60deg) grayscale(0.5) opacity(0.4);
}

#Main .Default {
	width: 80%;
}

#Main .Default img {
	position: absolute;
	left: 50%;
	top: -300%;
	translate: -50% -50%;
}

.comment {
	color: var(--comment);
	margin-bottom: 0 !important;
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
	background: var(--line);
	border: 0;
}

details {
	padding-top: 10px !important;
	padding-left: 10px !important;
	align-content: center;
	justify-content: center;
	border-left: 5px solid var(--line);
	border-bottom: 5px solid var(--line);
	padding-bottom: -100px !important;
}

hidden {
	display: none;
}

h2:has(hidden) {
	background: red;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

summary {
	padding: 5px;
	padding-bottom: 7px !important;
	cursor: pointer;
	text-align: center;

	transition: 0.2s;
}

summary:hover {
	background: var(--line);
}

summary:active {
	background: var(--brighter_line);
}

details[open] summary {
	background: var(--line);
}

details[open] summary:active {
	background: var(--brighter_line);
}

table {
	border-radius: 10px !important;
	border-collapse: collapse;
	overflow: hidden !important;
	outline: 1px solid #575f6b !important;
	margin: auto;
}

table *:is(td, tr, th, tbody) {
	margin: 0px !important;
	padding: 10px !important;
	border: 1px solid var(--brighter_line);
	font-weight: 200;
	color: white;
}

table th {
	background: var(--line);
	filter: brightness(1.3);
	color: white;
	font-weight: 400;
}

/* ----------------------------------
-- TAGS
-------------------------------------*/

tagged {
	--sharpness: 15px;
	/* control how deep the cut is */

	font-size: 12px;
	color: white;
	text-indent: -10px;
	padding: 20px !important;
	padding-left: 15px !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	translate: 0 4px;
	font-weight: 500;
	float: bottom;

	clip-path: polygon(0 0,
			calc(100% - var(--sharpness)) 0,
			100% 50%,
			calc(100% - var(--sharpness)) 100%,
			0 100%);
}

center {
	padding: 0px !important;
	padding-bottom: -50px !important;
	margin-top: -25px !important;
	margin-bottom: -10px !important;
}