.file_header {
	left: 50%;
	color: rgba(109, 255, 199, 0.685);
	background: rgba(0, 255, 157, 0.178);
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 10px !important;
	display: block;
	user-select: none;
	width: max-content;
	padding: 5px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	border-radius: 50px;
}

.file_header[header="Animations"] {
	color: rgb(255, 147, 171);
	background: rgba(255, 0, 64, 0.24);
}

.file_header[header="Reactivity"] {
	color: rgba(109, 226, 255, 0.993);
	background: rgba(0, 110, 255, 0.24);
}

.file_header[header="Instances"] {
	color: rgba(255, 216, 109, 0.993);
	background: rgba(255, 102, 0, 0.24);
}