body {
	overflow: hidden;
}

.Header {
	position: absolute;
	top: 60px;
	left: 50%;
	background: var(--dark_bg);
	translate: -50% 0;
	width: max(100%, 500px);
	height: 100vh;
	
	align-content: center;
}

.Header img {
	position: absolute;
	top: 50%;
	left: 65%;
	transform: translate(-20%, -85%);
	width: 200px; /* Set a reasonable size */
	height: auto;
	max-width: 30vw; /* Keeps it responsive */
	max-height: 30vh;
}

.DescriptionContent {
	margin-left: calc(1.618rem + 10%);
	text-align: left;
	user-select: none;
	translate: 0 -75px;
}

.DescriptionContent p {
	color: var(--primary_text);
	margin-top: 10px;
	width: 40vw;
	font-weight: 500;
	font-size: 20px
}

.DescriptionContent h1 {
	display: inline-block;
	font-size: 60px;
	margin-bottom: 30px;
	background: var(--button_primary);
	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;

	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.DescriptionContent h1:hover {
	filter: brightness(1.2);
	scale: 1.1;
}

.HeaderButtons {
	margin-left: calc(1.618rem + 10%);
	text-align: left;
	margin-top: 30px;
	translate: 0 -75px;
}


a {
	color: white;
	text-decoration: none;
}

.HeaderButtons a {
	display: inline-block;
	padding: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	width: auto;
	border-radius: 0.4rem;
	font-weight: 800;
	font-size: 15px;
	border: none;
	cursor: pointer;
	background: white;
	color: black;

	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.HeaderButtons a[active] {
	font-weight: 700;
	background: var(--button_primary);
	color: white;
	margin-right: 10px;
}

.HeaderButtons a:hover {
	filter: brightness(0.85);
}

.HeaderButtons a[active]:hover {
	filter: hue-rotate(0deg) brightness(0.9);
}

.HeaderButtons a:active {
	filter: brightness(1);
}

.HeaderButtons a[active]:active {
	filter: hue-rotate(5deg) brightness(1.1);
}

.HeaderButtons a:hover {
	scale: 1.05;
}

.Footer {
	position: absolute;
	background: none;
	border-top: 1px solid var(--line);
	width: calc(100% - 30px);
	height: 5rem;
	bottom: 0px;
	font-size: 14px;
	margin: 15px;

	color: white;
	text-align: center;
	align-content: center;
	color: var(--primary_text);
}

@media (max-width: 700px) {
	.Header img {
		position: relative;
		left: auto;
		top: auto;
		translate: 0 -60px;
		transform: none;
		display: block;
		margin: 0 auto 20px auto; /* Centers above the header */
	}

	.Header {
		width: 100%;
	}

	.DescriptionContent {
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.DescriptionContent p {
		width: 100%;
		translate: 0 -20px;
	}

	.HeaderButtons {
		width: 100%;
		margin-left: 0;
		text-align: center;
		translate: 0 -105px;
	}
}
