:root{
	--top_bar: rgba(218, 238, 255, 0.05);
	--dark_bg: #0d131b;
	--primary_bg: #616f8127;
	--secondary_bg: rgb(0,0,0,0.1);

	--line: rgba(92, 92, 92, 0.2);
	--brighter_line: rgba(128, 136, 150, 0.5);

	--primary_text: rgb(142, 158, 168);
	--secondary-text: rgb(81, 100, 126);
	--doc_text: rgb(200, 200, 200);
	--link_color: rgb(40, 140, 255);

	--button_primary: linear-gradient(135deg, rgba(76,187,135,1) 0%, rgba(57,138,109,1) 60%);
	--button_secondary: white;
	--button_primary_single: rgb(76,187,135);

	--fold_active: rgba(98, 255, 176, 0.205);
	--tab_active: rgba(255, 255, 255, 0.1);

	--code_block: #1e222e9f;
	--code_block_border: #373f50;
	--code_span: #3d4a7067;
	--comment: #6b7894;
}

* {
	font-family: Inter;
	margin: 0;
}

body {
	background: var(--dark_bg);
}