@keyframes SidebarOpacity {
	0% {
		opacity: 0;
		rotate: 10deg;
		translate: -100%;
	}

	100% {
		opacity: 1;
	}
}

@media (max-width: 750px) {
	:has(#Main[empty]) #Sidebar {
		width: calc(100vw - 45px);
		left: 0 !important;
		align-items: flex-end !important;
		display: flex;
		flex-direction: column;
		padding-right: 40px;
	}

	:has(#Main[empty]) #Sidebar div {
		width: calc(100vw - 40px) !important;
		/* border: 1px red solid; */
		text-align: center;
	}

	:has(#Main[empty]) #Sidebar .Fold li {
		border: 0;
		width: 100%;
		outline: 1px solid var(--middle_line);
		border-radius: 5px;
	}

	#sidebar_toggle {
		display: block !important;
	}

	:has(#Main[empty]) #sidebar_toggle {
		opacity: 0;
		pointer-events: none;
	}

	@keyframes Hide {
		from {opacity: 1;}
		to {opacity: 0;}
	}

	#Main[empty] {
		pointer-events: none;
		animation: Hide 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
	}

	#Main[empty] .Default {
		animation: Hide 1s forwards;
	}

	:has(#Main:not([empty])) #Sidebar {
		display: none;
	}

	#Main {
		left: 0;
		max-width: calc(100vw - 45px);
	}
}

#Sidebar {
	width: calc(15vw + 100px);
	height: 89vh;
	background: var(--secondary_bg);
	border-right: 1px solid var(--line);
	padding: 20px;
	justify-items: right;
	overflow: auto;
	z-index: 100;

	animation: SidebarOpacity 1s forwards
}

@-moz-document url-prefix() {
	#Sidebar {
		scrollbar-width: 10px;
		scrollbar-color: var(--brighter_line) var(--line);
	}
}

/* width */
#Sidebar::-webkit-scrollbar {
	width: 5px;
	opacity: 0;
}

/* Track */
#Sidebar::-webkit-scrollbar-track {
	background: var(--line);
	opacity: 0;
}

/* Handle */
#Sidebar::-webkit-scrollbar-thumb {
	background: var(--brighter_line);
}

/* Handle on hover */
#Sidebar::-webkit-scrollbar-thumb:hover {
	background: var(--button_primary_single);
	opacity: 0;
}

#Sidebar .Fold {
	width: 230px;
	float: right;
	padding: 10px;
	padding-left: 15px;
	margin-bottom: -5px;
	translate: 10px;
}

#Sidebar strong {
	font-size: 15px;
	padding: 7px;
	padding-bottom: 0;
	border-radius: 5px;
	color: white;
	display: block;
	width: 100%;
	font-weight: 500;
}

.Fold li {
	list-style: none;
	margin-top: 5px;
	margin-left: 15px;

	/* padding-left: 5px; */
	border-left: 2px solid var(--line);
}

@keyframes revealClip {
	from {
		clip-path: inset(0 100% 0 0);
	}

	to {
		clip-path: inset(0 0 0 0);
	}
}

.FoldItem {
	font-size: 13.5px;
	color: white;
	display: inline-block;
	width: 100%;
	opacity: 0.5;
	padding-top: 8px;
	padding-bottom: 8px;
	text-indent: 10px;
	cursor: pointer;
	overflow-x: hidden;
	translate: 0 2px;
	-webkit-background-clip: text;
	background-clip: text;
	position: relative;
	border-left: 2px solid rgba(11, 207, 109, 0);
	transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	clip-path: inset(0 100% 0 0);
	/* initially hidden from right */
	animation: revealClip 2s forwards;
}

@keyframes FoldOpacity {
	from { opacity: 0; }
	to { opacity: 1; }
}

.Fold {
	animation: FoldOpacity 2s forwards;
}

.FoldItem:hover {
	opacity: 0.9;
}

.FoldItem:not([active]):active {
	opacity: 1;
	background: var(--line);
}

.FoldItem[active] {
	opacity: 1;
	filter: brightness(1.2);
	font-weight: 600;
	border-left: 2px solid var(--button_primary_single);
	background: var(--button_primary_single);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	translate: -2px 2px;
	
	transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.FoldItem::before {
	content: "";
	background: red;
	position: absolute;
	width: 100%;
	height: calc(100% - 4px);
	translate: 0 2px;
	top: 0;
	left: 0;
	border-radius: 5px;
	background: var(--line);
	opacity: 0.5;
	transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.FoldItem[active]::before {
	opacity: .7;
}

.material-symbols-outlined {
	user-select: none;
	translate: -5px -2px;
	line-height: 1px;
	vertical-align: middle;
	scale: 0.9;
	margin-left: -5px;
	margin-right: -5px;
}

.FoldItem[active] .material-symbols-outlined {
	-webkit-text-fill-color: var(--button_primary_single);
}

#sidebar_toggle {
	z-index: 1;
	position: absolute;
	top: 80px;
	right: 40px;
	aspect-ratio: 1;
	width: 50px;
	border: 2px solid rgba(255, 255, 255, 0.4);
	background: rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, 0.4);
	border-radius: 8px;
	font-size: 30px;
	padding-bottom: 4.5px;
	scale: 0.9;
	cursor: pointer;
	display: none;
	backdrop-filter: blur(10px);
	
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#sidebar_toggle:hover {
	border: 2px solid rgba(255, 255, 255, 0.7);
	background: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.6);
	scale: 1;
}

#sidebar_toggle:active {
	opacity: 1;
	color: var(--button_primary_single);
	border-color: var(--button_primary_single);
	background: rgba(20, 100, 75, 0.5);
	filter: brightness(1.2);
	scale: 1.1;

	transition: .1s cubic-bezier(0.075, 0.82, 0.165, 1);
}